h1{
    color:firebrick ;
    font-weight: bold;
    background: aquamarine;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }